<!DOCTYPE html>
<html>
  <head>

    <title>Crime Prediction Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/1.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="leaflet-routing-machine.css" />
    <link rel="stylesheet" href="locationfilter.css" />

    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>






    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="leaflet.textpath.js"></script>
    <script src="l.ellipse.js"></script>

    <script src="https://unpkg.com/shp-write@latest/shpwrite.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css" />
    <!-- call leaflet-draw.js after leaflet, the leaflet-draw is depend on the leaflet, otherwise it give err 'L is not defined' or 'L.Control.draw is not defined'-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.js"></script>





      <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    -->
   <style>
     body {
       position: relative;
     }
    </style>

  </head>


  <body>




  <div style="background-color: #212121" >
    <span data-feather="home" style="color: #303030"> </span>
    <a style="font-size: 40px">&nbsp;Crime Prediction Dashboard</a>
  </div><!--标题部分-->

  <div class="container-fluid" style="background-color: #212121" >
    <div class="row" style="position: relative">

      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky" >
          <ul class="nav flex-column">


            <li class="nav-item" style="background-color: #303030">
              <a class="nav-link active" href="#" id="assualt_section" style="background-color: #212121">
                <span data-feather="home" style="background-color: #303030"></span>
                Assault Crime <span class="sr-only" style="background-color: #303030">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" id="break_and_enter" style="background-color: #212121">
                <span data-feather="file" style="background-color: #303030"></span> <!--span 提供行内容器-->
                Break and Enter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="Homecide" style="background-color: #212121">
                <span data-feather="shopping-cart"></span>
                Homecide
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="Robbery" style="background-color: #212121">
                <span data-feather="users"></span>
                Robbery
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="Theft" style="background-color: #212121">
                <span data-feather="bar-chart-2"></span>
                Theft
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="All_Crime" style="background-color: #212121">
                <span data-feather="layers"></span>
                All Crime
              </a>
            </li>
          </ul>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#" id="Morans_I" style="background-color: #212121">
                <span data-feather="file-text"></span>
                Morans_I_Analysis
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="spatial_correlation" style="background-color: #212121">
                <span data-feather="file-text"></span>
                Spatial Correlation
              </a>
            </li>
            <li class="nav-item" style="background-color: #212121">
              <a class="nav-link" href="#" id="mean_center">
                <span data-feather="file-text"></span>
                Mean Center
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="standard_ellipse" href="#" style="background-color: #212121">
                <span data-feather="file-text"></span>
                Standard division ellipse
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Getis_ord" href="#" style="background-color: #212121">
                 <span data-feather="file-text"></span>
                  DBSCAN
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="rectSelect" href="#" style="background-color: #212121">
                <span data-feather="file-text"></span><!--<button id="rectSelect" value="recSelect">rectangle select</button>-->
                Rectangle select
              </a>
            </li>

            <li class="nav-item"><!--This place is for allowing user to upload their local file to the server and do analysis-->
                <form action="/uploadfile" enctype="multipart/form-data" id="ajax-contact" method="POST"  target="nm_iframe" ><!--use ajax call in a form-->
                  <!--the action here is the path after http://localhost:port number  In this case the path is http://localhost:3000/uploadfile-->
                      <input type="file" id="local_upload" name="local_input"><!--the name attributes is used to reference elements in a Javascript, so it is like an id that you can reach the element by this name attribute-->
                      <input type="submit" value="submit_button" id="submit" name="submit_bt">
                </form>
              <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
            </li>


          </ul><!--ul是无序列表-->
        </div>
      </nav><!--side bar-->


      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <!--
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <!--<h1 class="h2">Dashboard</h1>-->
          <!--<div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>

        </div>

        <canvas class="my-4 w-100" id="myChart" width="800" height="80"></canvas>

        <h2>Section title</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed</td>
              <td>nisi</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>sem</td>
              <td>at</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>nibh</td>
              <td>elementum</td>
              <td>imperdiet</td>
              <td>Duis</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Praesent</td>
              <td>mauris</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>Fusce</td>
              <td>nec</td>
              <td>tellus</td>
              <td>sed</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>augue</td>
              <td>semper</td>
              <td>porta</td>
              <td>Mauris</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>massa</td>
              <td>Vestibulum</td>
              <td>lacinia</td>
              <td>arcu</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>eget</td>
              <td>nulla</td>
              <td>Class</td>
              <td>aptent</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>taciti</td>
              <td>sociosqu</td>
              <td>ad</td>
              <td>litora</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>torquent</td>
              <td>per</td>
              <td>conubia</td>
              <td>nostra</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>per</td>
              <td>inceptos</td>
              <td>himenaeos</td>
              <td>Curabitur</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>sodales</td>
              <td>ligula</td>
              <td>in</td>
              <td>libero</td>
            </tr>
            </tbody>
          </table>
        </div>
        -->
        <div class="row-fluid" ><!--这地方row-fluid一定要对应着上面container-fluid，要不然div的位置就会改变，比如说给div添加id属性，结果导致位置发生改变-->
          <div id="map" class="col-md-12" style="background-color: #303030;height:530px;width:980px;margin-left: -100px;" >

          </div>

          <div class="col-md-4" id="MonthChart" style="background-color: #303030;height:530px;width:400px;margin-left: 10px;">


          </div>

          <div class="col-md-4" id="statisticsDom" style="background-color: #303030;height:530px;width:400px;margin-left: 10px;">

          </div>
        </div><!--第一个模块-->

        <div class="row-fluid">

          <div class="col-md-4" id="DayChart"  style="background-color: #303030;height:370px;width:800px;margin-top: 10px;margin-left:-100px;">


          </div>


          <div class="col-md-4" id="WeekChart" style="background-color: #303030;height:370px;width:490px;margin-left: 10px;margin-top: 10px">

          </div>

          <div class="col-md-4" id="DivisonChart" style=" background-color: #303030;height:370px;width:490px;margin-left: 10px;margin-top: 10px">

          </div>


        </div><!--第二个模块-->

        <div class="row-fluid">
          <div id="tweets" class="col-md-12" style="background-color: #303030;height:520px;width:1800px;margin-top: 10px;margin-bottom:10px;margin-left:-100px;">
            Twitter content

          </div>


        </div>

      </main>
    </div>
  </div><!--整个container，里面包括一个side bar，三个模块-->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
      feather.replace()
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script><!--这地方如果用jquery-3.3.1-slim.min.js的话就会造成$.ajax is not a function 的错误，所有不要用slim版本/ 如何引用本地的-->
  <script src="/socket.io-client/dist/socket.io.js"></script>
  <script src="leaflet-routing-machine.js"></script>
  <script src="locationfilter.js"></script>




  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
          integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
          crossorigin=""></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.js"></script>



  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="/bundle.js"></script>

 <!-- <script src="/Tweets.js"></script>-->

  <!--// to make the dependencies saved in the pack.json, you have to run &#45;&#45;save under the path of package.json-->

  </body>

</html>
