.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.arc2 text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc2 path {
    stroke: #fff;
}

/*td, th {
    padding: 20px 20px;
    font-size: 20px;
    color: #7b82ff;
}*/

svg text.label {
    fill:white;
    font: 20px sans-serif;


    font-weight: 400;
    text-anchor: middle;
}

.tooltip rect {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axisBlue line{
    stroke: skyblue;
}

.axisBlue path{
    stroke: skyblue;
}

.myThead{
    padding: 20px 20px;
    font-size: 60px;
    color: #7b82ff;
}

.myTbody{
    padding: 20px 20px;
    font-size: 40px;
    color: #7b82ff;
}



